// global
$baseColor: #246394;
$title: #333;
$text: #737373;
$textActive: #333;
$lightColor: #afafaf;

// common
$borderColor: #E8E8E8;

// sidebar

// header
$height: 60px;


// experiment

$expBg: #f5f6f7;