@import '../../styles/common.scss';
.sidebar {
  width: 190px;
  background-color: #fff;

  h2 {
    font-size: 16px;
    color: #afafaf;
    line-height: 1.78em;
    margin-bottom: 10px;
  }

  &-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &-item {
    list-style: none;
    width: 90px;
    height: 30px;
    box-sizing: border-box;
    margin-bottom: 12px;
    overflow: hidden;

    a {
      display: block;
      text-decoration: none;
      color: $text;
      transition: all .3s;
      font-size: 14px;
      font-weight: 700;
      text-align: center;
      border-radius: 6px;
      padding: 2px;
      background-color: #f3f3f3;

      &:hover {
        color: $baseColor;
      }

      &.router-link-exact-active {
        color: #fff;
        font-weight: 700;
        background-color: $baseColor;
      }
    }
  }

  &__feature {
    color: $baseColor;
    margin-right: 15px;
    width: 50%;
    &:hover {
      color: $baseColor;
    }
  }

  @media screen and (max-width: 760px) {
    width: 100%;
    display: flex;
    overflow-x: auto;
    position: absolute;
    top: 60px;
    padding-top: 0px;

    h2 {
      display: none;
    }

    &-content {
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;
    }

    .sidebar-item {
      word-break: keep-all;
      height: auto;
      margin-bottom: 0;
      width: auto;
      margin: 6px 4px;

      a {
        display: inline-block;
        padding: 2px;

        &.router-link-exact-active {
          color: #fff;
          font-weight: 700;

          &:before {
            display: none;
          }
        }
      }
    }
  }
}